.container {
  max-height: 70vh;
  min-width: 50vw;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-rows: 30px;
  grid-auto-rows: 70px;
  grid-template-columns: 1fr 2fr 3fr;
  overflow-y: auto;
}

.item {
  position: relative;
}
.item:nth-of-type(odd) {
  border-right: 2px solid #333333;
}
.item:not(:nth-of-type(-n + 2)) {
  padding-top: 20px;
  padding-left: 20px;
}

.fw600 {
  font-weight: 600;
}

.descr {
  overflow: hidden;
  text-wrap-style: pretty;
  text-overflow: ellipsis;
}

.text-center {
  text-align: center;
}

nav {
  display: flex;
}
.paging {
  display: inline-block;
  list-style-type: none;
  align-items: center;
  overflow: hidden;
  button {
    background-color: transparent;
    width: 2rem;
    height: 2rem;
    padding: 0 3px;
    margin: 0 3px;
  }
  .selected {
    background-color: #747bff;
  }

  .page {
    float: left;
  }
}

.sidebar {
  min-width: 40vw;
  border: 2px solid #535bf2;
  border-radius: 8px;
  display: flex;
  overflow-y: auto;
}

.movie-link {
  color: white;
}

.movie-link.active {
  color: #747bff;
  text-decoration: underline;
}
